[Unit]
Description=Mosquitto Service for telemersive-server.

# run after network is up
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/mosquitto -c /opt/telemersive-bus/mosquitto.conf
User=telemersive-bus

[Install]
WantedBy=multi-user.target
